#html {
    background-color: rgb(95, 158, 160);
    width: 200;
    height: 300px;
    border: solid rgb(95, 158, 160);
}

#abo {
    background-color: white;
    width: 200;
    height: 300px;
    
}

#end{
    background-color: rgb(95, 158, 160);
    width: 200;
    height: 300px;
    display: flex;
}
#center{
    text-align: center;
    
}

